
<div class="sessions password">
  <div class="reset-password-frame">
    <%= image_tag("PZDLogoAlpha-BlackSolid.png", id: "logo-img", size: "110x110")%>
    <h2>Change your password</h2>

    <div class="form-frame">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field single-input">
        <%= f.label :password, "New password (6 character min)" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>

      <div class="field single-input">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions submit">
        <%= button_tag(type: 'submit') do %>
          Change my password
        <% end %>
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    <% end %>
    </div>
  </div>
</div>
