
<div class="sessions password">
  <div class="reset-password-frame">
    <%= image_tag("PZDLogoAlpha-BlackSolid.png", id: "logo-img", size: "110x110")%>
    <h2>Forgot your password?</h2>

  <div class="form-frame">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form' }) do |f| %>
      <div class="field single-input">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions submit">
        <%= button_tag(type: 'submit') do %>
        Reset Password
        <% end %>
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    <% end %>
  </div>

  <div class="sign-up-frame">
    <span>New to Shower-Thoughts?</span>
    <%= link_to "Create Account", new_user_registration_path %> 
  </div>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
</div>
