
<div class="sessions">
  <div class="sign-in-frame">
    <%= image_tag("PZDLogoAlpha-BlackSolid.png", id: "logo-img", size: "110x110")%>
    <h2>Log in to Shower-Thoughts</h2>

  <div class="form-frame">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
      <div class="field single-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field single-input">
        <div class="password-row">
          <%= f.label :password %>
          <%= link_to "Forgot Password?", new_password_path(resource_name), class: "forgot-password-link" %><br />
        </div>  
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field single-input">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions submit">
        <%= button_tag(type: 'submit') do %>
        Log In
        <% end %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
      </div>
    <% end %>
  </div>

  <div class="sign-up-frame">
    <span>New to Shower-Thoughts?</span>
    <%= link_to "Create Account", new_user_registration_path %> 
  </div>
</div>
