<%= javascript_import_module_tag "custom/thoughts_" %>
<input type="hidden" id="current-page" value="1">

<div class="thoughts">
  <span class="title-word">SHOWER <span class="title-break"></span>THOUGHTS
    <span class="texture"></span>
  </span>
  
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <span class="alert-text"><%= value %></span>
  </div>
  <% end %>

  <%= render partial: 'actionbar', :locals => { :main_view => "index" } %>
  
  <div class="thoughts-page">
    <%= render @thoughts %>
  </div>
</div>