
<div class="thoughts">
  <span class="title-word">SHOWER THOUGHTS
    <span class="texture"></span>
  </span>

    <div class="thoughts-container">
      <% @thoughts.each do |thought| %>
      <div class="single-thought">
          <p class="title"><%= thought.title %></p>
          <p class="content"><%= thought.content %></p>
          
          <% if user_signed_in? %>
            <div class="actions">
              <div class="non-plumber">
                <a href=""><%= image_tag("eye-remove.svg", size: "25x25")%></a>
                <a href=""><%= image_tag("content-save.svg", size: "25x25")%></a>
                <% if thought.user_id == current_user.id &&  current_user.plumber_status != 'Master'%>
                <%= link_to image_tag("delete.svg", size: "25x25") , thought_path(thought), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this thought?'} %>
                <a href=""><%= image_tag("text-box-edit.svg", size: "25x25")%></a>
                <% end %>
              </div>

              <% if current_user.plumber_status == 'Yes' || current_user.plumber_status == 'Master' %>
                <div class="plumber">
                  <a href=""><%= image_tag("spotlight-beam.svg", size: "25x25")%></a>
                </div>
              <% end %>

              <% if current_user.plumber_status == 'Master' %>
                <div class="master">
                <%= link_to image_tag("delete.svg", size: "25x25"), thought_path(thought), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this thought?'} %>
                <a href=""><%= image_tag("web-remove.svg", size: "25x25")%></a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= link_to "New Thought", new_thought_path %>
    <% if user_signed_in? %>
    <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %></p>
    <% end %>
</div>