<%= javascript_importmap_tags 'thoughts_new' %>

<div class="thoughts-new">
  <div class="content-container">
    <div class="title-container">
      <span class="title-word">SHARE THOUGHT
        <span class="texture"></span>
      </span>
    </div>

    <div class="form-container">
    <%= form_with model: @thought do |form| %>
      <%= label_tag(:title, "TITLE") %>
      <%= form.text_field :title, size: 30, maxlength: 30, minlength: 3, class: "title-input" %>
      <div id="title-warning">3 character minimum</div>
      <%= label_tag(:content, "THOUGHT") %>
      <%= form.text_area :content, maxlength: 1500, minlength: 5, class: "content-input" %>
      <div id="content-char-count">5 character minimum</div>
      <%= button_tag(type: 'submit', id: "submit-button",  class: "btn-disabled") do %>
      Share Thought
      <% end %>
    <% end %>
    </div>
  </div>
  <% if @thought.errors.any? %>
    <div class="error_explanation">
      <h2>Cannot share</h2>
      <ul>
      <% @thought.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>